extends layout

block content
  .container.d-flex.justify-content-center.align-items-center.mt-4.flex-column
    h1.text-center= title
    p.text-center Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

    h2.text-center.mt-5 Dynamic content

    .row.mt-4
      .col-md-3
        .circular-progress(data-value=book_count data-max=100)
          .circle
          .label
            span Books:
            .value
      .col-md-3
        .circular-progress(data-value=book_instance_count data-max=100)
          .circle
          .label
            span Copies:
            .value
      .col-md-3
        .circular-progress(data-value=book_instance_available_count data-max=100)
          .circle
          .label
            span Available:
            .value
      .col-md-3
        .circular-progress(data-value=author_count data-max=100)
          .circle
          .label
            span Authors:
            .value
      .col-md-3
        .circular-progress(data-value=genre_count data-max=100)
          .circle
          .label
            span Genres:
            .value
