extends layout

block content
  .container.d-flex.justify-content-center.align-items-center.mt-4.flex-column
    h1.text-center= title
    p.text-center Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

    h2.text-center.mt-5 Dynamic content

    .row.mt-4
      .col-md-3
        .card
          .card-body
            h5.card-title.text-center #[strong Books:]
            p.text-center= book_count
      .col-md-3
        .card
          .card-body
            h5.card-title.text-center #[strong Copies:]
            p.text-center= book_instance_count
      .col-md-3
        .card
          .card-body
            h5.card-title.text-center #[strong Copies available:]
            p.text-center= book_instance_available_count
      .col-md-3
        .card
          .card-body
            h5.card-title.text-center #[strong Authors:]
            p.text-center= author_count
      .col-md-3
        .card
          .card-body
            h5.card-title.text-center #[strong Genres:]
            p.text-center= genre_count
